.container {
  width: 100%;
  height: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
}

.container div {
  line-height: 1rem;
}

.container div h1 {
  font-size: 4rem;
}
.container div h2 {
  font-size: 1.5rem;
}

a {
  color: var(--primary-color);
}

