@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
  width: 100vw;
}

main form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type='search'] {
  border: none;
  border-radius: 50px;
  width: 50%;
  height: 5vh;
}
