main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

form {
  height: fit-content;
}

.results {
  flex: 1 auto;
  display: flex;
  flex-direction: column;
}

.noFound {
  flex: 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.found{
  display: flex;
  overflow: auto;
}

.division img {
  width: 300px;
  aspect-ratio: 1;
}

.found > div {
  padding: 10px;
  /* border: 1px solid red; */
}
